---
import Link from "@/components/Link.astro";
---

<nav class="flex h-20 items-center justify-between p-7">
  <div class="text-2xl font-black">
    <Link underline={false}>
      <a
        href="/"
        class="group inline-flex items-center transition-transform duration-500 ease-out *:transition-transform *:duration-500 active:scale-95"
      >
        <span
          class="inline-block scale-x-[-1] group-hover:-translate-x-1 group-active:translate-x-0"
          >F</span
        >
        <span class="inline-block">M</span>
        <span
          class="inline-block group-hover:translate-x-1 group-active:translate-x-0"
          >F</span
        >
      </a>
    </Link>
  </div>
  <ul class="flex space-x-4 font-semibold [&_a]:text-slate-400">
    <li>
      <Link underline={false} color={false}
        ><a href="/background">Background</a></Link
      >
    </li>
    <li>
      <Link underline={false} color={false}
        ><a href="/projects">Projects</a></Link
      >
    </li>
    <li>
      <Link underline={false} color={false}><a href="/skills">Skills</a></Link>
    </li>
  </ul>
</nav>
